/* Add your CSS below */

/* Example: adding a background color to the HTML body */
/*body {
   #ccc is shorthand HEX for a light grey 
  background: #ccc;
}*/

/*header {
  background-size: : cover;
  background: #18453b;  
  width:100%;
  max-height: 400px;
  align-content: center;
  overflow: hidden;
}

header > .picture {
  margin: 0 auto;
  margin: -225px 0 0 0px;
  width: 100%;
  height: auto;
  align-content: center;
}

body {
	background-image: url("images/Tower.jpg");
}*/

